/* Footer.module.css */
.footer {
    background-color: #239ce2;
    color: #fff;
    padding: 4px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}
